# Logs
logs
*.log
npm-debug.log*

#IDE
launch.json

# Runtime data
pids
*.pid
*.seed

# WebStorm
*.DS_Store

# IDE
.idea/*
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
!.idea/dataSources.local.xml
!.idea/dataSources.xml



# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

